
    <div *ngIf="movie!=null" class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">
            <img class="poster w-100" src="{{img_300}}{{movie.poster_path}}" alt="rishabh"/>

            <span class="title">{{movie?.title || movie?.name}}</span>

            <div class="meta_info w-100">
                <span class="text-start ">{{movie.media_type === "tv" ? "TV Series" : "Movie"}}</span>
                <span class="text-end">{{movie.first_air_date || movie.release_date}}</span>
            </div>

      </div>
    </div>

