/* Base styles for the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 16px;
  }
  
  /* Hide the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Style the slider (circle) */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 34px;
  }
  
  /* Changing the appearance of the slider when it's checked */
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  .theme-mode{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
    background: var(--basetheme_color);
  }
  