/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    background-color: #39445a;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    width: 100%;
}

html,body{
    height: 100% !important;
}

.bi{
    margin: 10px !important;
}
.content-header{
    color: #fff;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 0.15rem;
}

.content-body{
    margin-top: 20px;
}