<div class="header_list">
    <a href="javascript:void(0)" routerLink="/" [ngClass]="{'active':current_route==''}"><i class="bi bi-fire"></i>Trending</a>
    <a href="javascript:void(0)" routerLink="movies" [ngClass]="{'active':current_route=='movies'}"><i class="bi bi-camera-reels"></i>Movies</a>
    <a href="javascript:void(0)" routerLink="series" [ngClass]="{'active':current_route=='series'}"><i class="bi bi-tv"></i>TV Series</a>
    <a href="javascript:void(0)" routerLink="search" [ngClass]="{'active':current_route=='search'}"><i class="bi bi-search"></i>Search</a>

</div>
